input {
    outline: none;
    height: 56px;
    border: 2px solid black;
    border-radius: 7px;
}

textarea {
    outline: none;
    height: 200px;
    border: 2px solid black;
    border-radius: 7px;
}

.outline-white {
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px;
}

input:hover {
    background-color: #d4d4d8;
    color: black;
}

input:focus {
    background-color: #d4d4d8;
    color: black;
}

* {
    font-family: sans-serif;
}

button {
    height: 56px;
    width: 200px;
    border-radius: 7px;
}

// style of disabled button
button:disabled {
    background-color: #d4d4d8;
    color: black;
}