<section class="flex flex-col md:flex-row gap-6 mt-32 mb-32 p-4">
  <form [formGroup]="contactFormGroup" class="flex flex-col gap-4 flex-1">
    <input formControlName="name" placeholder="Your name" class="p-2" />
    <input formControlName="email" placeholder="Email" class="p-2" />
    <input
      formControlName="website"
      placeholder="Your website (if exisist)"
      class="p-2"
    />
    <input formControlName="message" placeholder="How can I help" class="p-2" />
    <button class="p-2 bg-black text-white">Get In Touch</button>
  </form>
  <section class="flex flex-col gap-8 place-content-end items-start flex-1">
    <div class="text-5xl">Lets's talk for Something specaial</div>
    <div class="text-sm">
      I seek to push the limits of creativity to create high-engaging,
      user-friendly, and memorable interactive experiences.
    </div>
    <div>
      <div class="font-bold text-xl">Youremailgmail.com</div>
      <div class="font-bold text-xl">+3630 635 4914</div>
    </div>
  </section>
</section>
