<section class="container">
  <div class="about-me-text">
    <div class="row">
      <label
        class="text-xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl"
        >Hi, I'm</label
      >
      <label
        class="text-xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl outline-black"
        >József Pallagi</label
      >
    </div>
    <div class="row">
      <label
        class="text-xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl"
        >Full Stack</label
      >
      <label
        class="text-xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl"
        >Developer</label
      >
    </div>
    <!-- <div class="social-media-icons">
      <a href="https://www.linkedin.com/in/jhonatan-pereira-7b1b3b11b/">
        <img src="https://img.icons8.com/color/48/000000/linkedin.png" />
      </a>
      <a href="https://www.linkedin.com/in/jhonatan-pereira-7b1b3b11b/">
        <img src="https://img.icons8.com/color/48/000000/facebook.png" />
      </a>
      <a href="https://www.linkedin.com/in/jhonatan-pereira-7b1b3b11b/">
        <img src="https://img.icons8.com/color/48/000000/github.png" />
      </a>
      <a href="https://www.linkedin.com/in/jhonatan-pereira-7b1b3b11b/">
        <img src="https://img.icons8.com/color/48/000000/instagram.png" />
      </a>
    </div> -->
  </div>
  <div class="img-wrapper">
    <img
      class="jp-img"
      src="https://avatars.githubusercontent.com/u/23094656?s…00&u=5e49a064244d9d8dbdc6d1aefc8effbf5401e2d2&v=4"
    />
  </div>
</section>
