.container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  height: 390px;
  width: 100%;
  font-family: sans-serif;

  .img-wrapper {
    margin: 17px;
    display: flex;
    align-items: center;
    .jp-img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 6px solid black;
    }
    .jp-img:hover {
      border: 6px solid grey;
    }
  }

  .about-me-text {
    display: flex;
    font-family: sans-serif;
    text-align: justify;
    flex-direction: column;

    .row {
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 7px;
    }

    .outline-white {
      -webkit-text-fill-color: white;
      -webkit-text-stroke: 1px;
    }

    .outline-black {
      -webkit-text-fill-color: black;
      -webkit-text-stroke: 1px;
    }
  }
}
.social-media-icons {
  display: flex;
  justify-content: left;
  margin-top: 7px;
  gap: 7px;

  img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

// if screen width is smaller than 700px
@media (max-width: 700px) {
  .container {
    .img-wrapper {
      .jp-img {
        width: 150px;
        height: 150px;
      }
    }
  }
}
