<section class="container">
  <div class="about-me-text">
    <div class="row">
      <label
        class="text-base sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl"
        >Hi, I'm</label
      >
      <label
        class="text-base sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl outline-black"
        >József Pallagi</label
      >
    </div>
    <div class="row">
      <label
        class="text-base sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl outline-black"
        >Full Stack</label
      >
      <label
        class="text-base sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl outline-white"
        >Developer</label
      >
    </div>
    <div class="row">
      <label
        class="text-sm sm:text-xl md:text-xl lg:text-2xl xl:text-2xl 2xl:text-2xl"
        >€45.00/hr</label
      >
    </div>
    <div class="social-media-icons">
      <div>
        <img src="../../../assets/icons/facebook.svg" />
      </div>
      <div>
        <img src="../../../assets/icons/linkedin.svg" />
      </div>
      <div>
        <img src="../../../assets/icons/github.svg" />
      </div>
      <div>
        <img src="../../../assets/icons/instagram.svg" />
      </div>
    </div>
  </div>
  <div class="img-wrapper">
    <img
      class="jp-img"
      src="https://avatars.githubusercontent.com/u/23094656?s…00&u=5e49a064244d9d8dbdc6d1aefc8effbf5401e2d2&v=4"
    />
  </div>
</section>
