<section class="container">
  <div class="title">
    <label
      class="text-xl sm:text-xl md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl font-normal"
      >My <label class="font-bold">Skills</label></label
    >
  </div>
  <div class="icons">
    <div class="icon-wrapper">
      <div class="icon">
        <img src="../../../assets/icons/java.svg" />
      </div>
      <div class="text-center">Java</div>
    </div>
    <div class="icon-wrapper">
      <div class="icon">
        <img src="../../../assets/icons/angular.svg" />
      </div>
      <label class="text-center">Angular</label>
    </div>
    <div class="icon-wrapper">
      <div class="icon">
        <img src="../../../assets/icons/sql.svg" />
      </div>
      <label class="text-center">SQL</label>
    </div>
  </div>
</section>
