<section class="flex flex-col items-center">
    <div class="title mt-5 mb-10">
        <label class="text-xl sm:text-xl md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl font-normal"
            >My <label class="font-bold">Skills</label></label
        >
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <div class="icon-wrapper">
            <div class="icon">
                <img src="../../../assets/icons/java.svg" />
            </div>
            <div class="text-center">Java</div>
        </div>
        <div class="icon-wrapper">
            <div class="icon">
                <img src="../../../assets/icons/angular.svg" />
            </div>
            <label class="text-center">Angular</label>
        </div>
        <div class="icon-wrapper">
            <div class="icon">
                <img src="../../../assets/icons/sql.svg" />
            </div>
            <label class="text-center">SQL</label>
        </div>
        <div class="icon-wrapper">
            <div class="icon">
                <img src="../../../assets/icons/google-cloud.svg" />
            </div>
            <label class="text-center">Google Cloud</label>
        </div>
        <div class="icon-wrapper">
            <div class="icon">
                <img src="../../../assets/icons/typescript.svg" />
            </div>
            <label class="text-center"> TypeScript </label>
        </div>
        <div class="icon-wrapper">
            <div class="icon">
                <img src="../../../assets/icons/js.svg" />
            </div>
            <label class="text-center"> JavaScript </label>
        </div>
        <div class="icon-wrapper">
            <div class="icon">
                <img src="../../../assets/icons/git.svg" />
            </div>
            <label class="text-center"> Git </label>
        </div>
        <div class="icon-wrapper">
            <div class="icon">
                <img src="../../../assets/icons/redux.svg" />
            </div>
            <label class="text-center"> Redux </label>
        </div>
    </div>
</section>
