<section class="container mt-32 mb-32">
  <div
    class="text-center mt-20 mb-20 text-xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl"
  >
    My <label class="font-bold">Experiance</label>
  </div>
  <div class="cards-container">
    <div class="card mr-2 ml-2">
      <div class="header">
        <div class="company-logo pr-2">
          <img
            src="https://media.licdn.com/dms/image/v2/D4E0BAQGY0ZP1SH6NvQ/company-logo_200_200/company-logo_200_200/0/1725445110768/4flow_logo?e=1741824000&v=beta&t=xirM_JdUE7EJhyOJFeHviD_7io8Aq7Kt6zujXWvF1uI"
            alt="4Flow"
          />
        </div>
        <div class="title font-bold">Sull Stack Developer [Angular, Java]</div>
        <div class="date text-xxs">2023 - Present</div>
      </div>
      <div class="content">
        Working on the NEVA product as a Full Stack Developer. The main feature
        of the product is modeling and analysis of supply chain networks.
      </div>
    </div>
    <div class="card mr-2 ml-2">
      <div class="header">
        <div class="company-logo pr-3">
          <img
            src="https://media.licdn.com/dms/image/v2/C4D0BAQGtIgdLLn7zZw/company-logo_200_200/company-logo_200_200/0/1630557474128?e=1741824000&v=beta&t=EiH3E_gBPjFVgnhT-b0Za6RsXqmS5uTPOJnSGe3nOzs"
            alt="INSPYRE Informatics
"
          />
        </div>
        <div class="title font-bold">Frontend Developer [Angular]</div>
        <div class="date text-xxs">2022 - 2023</div>
      </div>
      <div class="content">
        I worked for INSPYRE Informatics as a contractor. I was contributing to
        the Learning Content Management product software development with the
        Angular framework.
      </div>
    </div>
    <div class="card mr-2 ml-2">
      <div class="header">
        <div class="company-logo pr-3">
          <img
            src="https://media.licdn.com/dms/image/v2/D560BAQGiz5ecgpCtkA/company-logo_200_200/company-logo_200_200/0/1688684715866/ibm_logo?e=1741824000&v=beta&t=N4W6vn59x16gSpsU912ccmeMqWe6oRAFo8VljAGsJA8"
            alt="IBM"
          />
        </div>
        <div class="title font-bold">Software Developer [Java]</div>
        <div class="date text-xxs">2019 - 2022</div>
      </div>
      <div class="content">
        As a Senior Software Engineer at Google, I played a pivotal role in
        developing innovative solutions for Google's core search algorithms.
        Collaborating with a dynamic team of engineers, I contributed to the
        enhancement of search accuracy and efficiency, optimizing user
        experiences for millions of users worldwide.
      </div>
    </div>
    <div class="card mr-2 ml-2">
      <div class="header">
        <div class="company-logo pr-3">
          <img
            src="https://media.licdn.com/dms/image/v2/D560BAQGiz5ecgpCtkA/company-logo_200_200/company-logo_200_200/0/1688684715866/ibm_logo?e=1741824000&v=beta&t=N4W6vn59x16gSpsU912ccmeMqWe6oRAFo8VljAGsJA8"
            alt="IBM"
          />
        </div>
        <div class="title font-bold text-left">
          Junior Software Developer [Java]
        </div>
        <div class="date text-xxs sm:text-sm md:text-md lg:text-lg xl:text-xl 2xl:text-2xl">2017 - 2019</div>
      </div>
      <div class="content">
        As a Senior Software Engineer at Google, I played a pivotal role in
        developing innovative solutions for Google's core search algorithms.
        Collaborating with a dynamic team of engineers, I contributed to the
        enhancement of search accuracy and efficiency, optimizing user
        experiences for millions of users worldwide.
      </div>
    </div>
  </div>
</section>
