<header class="jp-header">
  <div class="logo">jozsef.pallagi</div>
  <ul class="nav-links">
    <li><a href="#about" class="text-base sm:text-base md:text-base lg:text-base xl:text-xl 2xl:text-xl">About Me</a></li>
    <li><a href="#skills" class="text-base sm:text-base md:text-base lg:text-base xl:text-xl 2xl:text-xl" >Skills</a></li>
    <li><a href="#projects" class="text-base sm:text-base md:text-base lg:text-base xl:text-xl 2xl:text-xl">Project</a></li>
    <li><a href="#contact" class="text-base sm:text-base md:text-base lg:text-base xl:text-xl 2xl:text-xl">Contact Me</a></li>
  </ul>
  <div class="resume-container">
    <button class="resume text-base">
    <label>Resume</label>
    <img src="../../../assets/icons/download.svg" alt="">  
    </button>
  </div>
</header>
