.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    img.product-image {
        height: 150px;
        border-radius: 7px;
        padding: 8px;
    }
}