<h1
  class="text-center mt-20 mb-20text-base sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl"
>
  My <label class="font-bold">Testimonial</label>
</h1>
<div class="grid grid-flow-row 2xl:grid-flow-col gap-8">
  <div
    class="shadow-2xl testimonial-card flex flex-col place-content-evenly items-center p-7"
  >
    <div>
      <img
        src="https://media.licdn.com/dms/image/v2/C4D03AQGxhyl71Ts_3A/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1517603802458?e=1738800000&v=beta&t=qk4uyH0ZGlGRBadA--2srxZkw5oXZUK3X2AJLpiL97Y"
        alt="no"
      />
    </div>
    <div class="text-sm">
      "Jozsef worked as a developer at sibling internal IBM project building and
      maintaining application that was the main upstream of my app. I remember
      he had to tackle with a lot of legacy code - migrate to newer environment
      - and it was successful. He was always cooperative, willing to help, able
      to solve all challenges. It was pleasure to work with him."
    </div>
    <div class="text-xl font-bold">Jan Pechanec</div>
    <div class="text-base">Senior Java Developer</div>
  </div>
  <div
    class="shadow-2xl testimonial-card flex flex-col place-content-evenly items-center p-7"
  >
    <div>
      <img
        src="https://media.licdn.com/dms/image/v2/C4D03AQEXIhh5I_L0xw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1516808112815?e=1738800000&v=beta&t=l3ugPwPmI0bZxK_LQK6uYfIYBCU_BkIzky0ffNyAI_A"
        alt="no"
      />
    </div>
    <div class="text-sm">
      "I had been working with József at IBM for more than one year. At that
      time He was working as java backend developer and I was working there as
      IT Specialist. We built an application for IBM which integrated IBM
      subsidiary employee's data with IBM database. Although java was new for
      József, but he acquired the knowledge fast. He always delivered work in
      quality and in time. It was easy and fun working with him
    </div>
    <div class="text-xl font-bold">Denny Chacko</div>
    <div class="text-base">IT Specialist</div>
  </div>
  <div
    class="shadow-2xl testimonial-card flex flex-col place-content-evenly items-center p-7"
  >
    <div>
      <img
        src="https://media.licdn.com/dms/image/v2/C5603AQESFmSJ25cSQQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1530965147909?e=1738800000&v=beta&t=kM9iJcyGOsJH21GUNQSfUHVPaQD8qfG1vw6JduZobq4"
        alt="no"
      />
    </div>
    <div class="text-sm">
      "I worked with József at Inspyre informatics company and He was a
      professional frontend developer at all time. I worked with him together I
      was responsible for backend tasks and He was doing frontend related tasks.
      It was very easy and fun working with him!"
    </div>
    <div class="text-xl font-bold">Marton Blum</div>
    <div class="text-base">Software Engineer</div>
  </div>
  <div
    class="shadow-2xl testimonial-card flex flex-col place-content-evenly items-center p-7"
  >
    <div>
      <img
        src="https://media.licdn.com/dms/image/v2/C5603AQGo1aCGaJNGjg/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1589272388943?e=1738800000&v=beta&t=33OYfpxsdWONGPFaVWTpb0hC024ZzdGT9xM4uzUClmM"
        alt="no"
      />
    </div>
    <div class="text-sm">
      "I worked with Joci for a couple of years. I got to know him as a junior
      Java developer, but he developed a lot and quickly while we worked
      together. His curiosity and desire to learn always drives him forward. We
      have built a greenfield application together that handles the data of
      hundreds of thousands of employees, during which he performed very well
      and reliably in more serious tasks, in several areas of Java. He works
      great with frontend and backend technologies as well, alone or as part of
      a development team, in an Agile environment. I can definitely recommend
      him."
    </div>
    <div class="text-xl font-bold">László Horváth</div>
    <div class="text-base">Technical Team Lead</div>
  </div>
  <div
    class="shadow-2xl testimonial-card flex flex-col place-content-evenly items-center p-7"
  >
    <div>
      <img
        src="https://media.licdn.com/dms/image/v2/D4D03AQHobhJ1IjMVqw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1672517708254?e=1738800000&v=beta&t=q8_gyo4yVnYM60dqXxEKD0BLc6eni02oAQbh9YLCr7s"
        alt="no"
      />
    </div>
    <div class="text-sm">
      "I was working together with Jozsef on multiple software development
      projects. His responsibilities included designing, writing and testing the
      code along with providing Ops support towards the sysadmins. Jozsef showed
      solid skills and exemplary work ethics, and I was impressed with his
      punctuality. I strongly recommend him as a web developer."
    </div>
    <div class="text-xl font-bold">András Hummer</div>
    <div  class="text-base">Java Developer</div>
  </div>
</div>
