<div class="container mt-20">
  <div class="img-wrapper pl-3">
    <img class="jp-img" src="../../../assets/images/profile.jpg" alt="no" />
  </div>
  <div class="info-wrapper">
    <div class="text-center p-6 text-base sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl">
      About
      <label class="font-bold text-base sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl">ME</label>
    </div>
    <div class="p-6">
      I'm a passionate, self-proclaimed designer who specializes in full stack
      development (React.js & Node.js). I am very enthusiastic about bringing
      the technical and visual aspects of digital products to life. User
      experience, pixel perfect design, and writing clear, readable, highly
      performant code matters to me.
    </div>
  </div>
</div>
