<div class="flex flex-col sm:flex-row  mt-20">
  <div class="img-wrapper pl-3">
    <img class="jp-img" src="../../../assets/images/profile.jpg" alt="no" />
  </div>
  <div class="info-wrapper items-center">
    <div
      class="text-center p-6 text-base sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl"
    >
      About
      <label
        class="font-bold text-base sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-4xl"
        >ME</label
      >
    </div>
    <div class="p-6 ">
      I have been working as a software developer for more than 8 years. I have
      worked for big companies, small companies, and corporations. If you are
      looking for an experienced developer who has knowledge in Frontend and
      Backend, do not hesitate to contact me.
    </div>
  </div>
</div>
