<div class="container mt-20">
  <div class="img-wrapper pl-3">
    <img class="jp-img" src="../../../assets/images/profile.jpg" alt="no" />
  </div>
  <div class="info-wrapper">
    <div class="text-center p-6">About ME</div>
    <div class="p-6">
      I'm a passionate, self-proclaimed designer who specializes in full stack
      development (React.js & Node.js). I am very enthusiastic about bringing
      the technical and visual aspects of digital products to life. User
      experience, pixel perfect design, and writing clear, readable, highly
      performant code matters to me.
    </div>
  </div>
</div>
