.container {
  display: flex;

}
.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 2;
}
.img-wrapper {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  .jp-img {
    border: 6px solid black;
    border-radius: 7px;
    height: 200px;
  }
}
