.container {
  display: flex;

  .info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .jp-img {
      width: 600px;
      border: 6px solid black;
      border-radius: 7px;
    }
  }
}
